<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.glodon.dao.AddressDao">

	<insert id="insertAddress" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO logistics_address(address_name,address_areaid) VALUES (#{address_name},#{address_areaid})
		<selectKey resultType="java.lang.Integer" order="AFTER"
			keyProperty="address_id">
			SELECT LAST_INSERT_ID() AS ID
		</selectKey>
	</insert>

	<select id="queryAddress"  resultType="com.glodon.model.Address">
		SELECT * FROM logistics_address where address_areaid = #{areaid};
	</select>
	
	<update id="updateAddress" parameterType="map">
		update logistics_address set address_name = #{name} where address_id = #{id};
	</update>
	
	<delete id="deleteAddress" parameterType="map">
		delete from logistics_address
		where address_id = #{id};
	</delete>

</mapper>